{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h2>About Us</h2>
  <div class="container">
    <h3>The Table Tennis Club is designed to provide
        students with the opportunity to compete against
        other players as well as the opportunity to
        enhance their table tennis skills. Requiring
        minimal equipment, it is an ideal
        recreational activity for everyone. Although the
        club will be primarily recreational, players with
        competitive intent are welcome to join as well.
    </h3>
  </div>
  <br>

  <img src="https://i.imgur.com/XYpxViO.jpg" class="img-responsive"></img>
</div>

<br><br><br>
{% endblock %}