{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">

  table, th, td {
    text-align: center;
  }
  tr:hover {
    background: #D3D3D3;

  }

.jumbotron {
    background: url('https://i.imgur.com/BhbeqVu.jpg');
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 160px;
    margin-top:-20px;
    text-shadow: black 0.1em 0.1em 0.1em;

}

</style>

<div class="jumbotron text-center"></div>
<div class="container">



<h2>Attendance History ({{ practices|length }} Practices)</h2>
<br>

<ul>
{% for practice in practices %}
  <li><a href="/history/{{ practice.Date }}">{{ practice.Date }}</a> ({{ practice.Count }} Members)</li>
{% endfor %}
</ul>

<br>

<h2>Attendance Totals ({{ players|length }} Members)</h2>
<br>
<table style="width:100%">
  <tr class="text-center">
    <th>Name</th>
    <th>Attendance Count</th>
    <th>Lateness Count</th>
  </tr>


{% for player in players %}

  <tr>
    <td><a href="/stats/{{player.First_Name}} {{player.Last_Name}}">{{ player.First_Name }} {{ player.Last_Name }}</a></td>
    <td>{{ player.Attendance }}</td>
    <td>{{ player.Lateness }}</td>
  </tr>

{% endfor %}


</table>
<br><br>

</div>

{% endblock %}