{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">

  table, th, td {
    text-align: center;
  }
  tr:hover {
    background: #D3D3D3;

  }

{% if photo %}
.jumbotron {
    background: url({{ photo.URL }});
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-20px;
    text-shadow: black 0.1em 0.1em 0.1em;
}
{% endif %}

</style>

<div class="jumbotron text-center"></div>
<div class="container">


<h1><b><u>Attendance History ({{ practices|length }} Practices)</u></b></h1><br>

<ul>
{% for practice in practices %}
  <li><a href="/history/{{ practice.Date }}">{{ practice.Date|date:"N d, Y"  }}</a> ({{ practice.Count }} Members)</li>
{% endfor %}
</ul>

<br>

<h1><b><u>Attendance Totals ({{ players|length }} Members)</u></b></h1><br>
<br>
<table style="width:100%">
  <tr class="text-center">
    <th>Name</th>
    <th>Attendance Count</th>
  </tr>


{% for player in players %}

  <tr>
    <td><a href="/stats/{{player.First_Name}} {{player.Last_Name}}">{{ player.First_Name }} {{ player.Last_Name }}</a></td>
    <td>{{ player.Attendance }}</td>
  </tr>

{% endfor %}


</table>
<br><br>

</div>

{% endblock %}