{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
<style>

{% if photo %}
.jumbotron {
    background: url({{ photo.URL }});
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 160px;
    margin-top:-20px;
    text-shadow: black 0.1em 0.1em 0.1em;
}
{% endif %}

</style>

<div class="jumbotron text-center"></div>

<div class="container">


  <h1><b><u>Contact Us</u></b></h1><br>


    <div class="container">

        {% for member in eboard %}
          <h3>{{ member.Name }} - {{ member.get_Position_display }} </h3>
        {% endfor %}

        <br><br>

    </div>


    {% if organization.Email %}
    <div class="container">
      <hr>
      <br><br>

      <h2>For general inquiry, contact us at {{ organization.Email }} or contact us directly using the form below.</h2>

      <br><br>

    </div>


    <center>
    <p id="message" style="color:red;"></p>
    <input type="text" size="50" id="sender_box" placeholder="Your Name" /><br><br>
    <input type="text" size="50" id="subject_box" placeholder="Subject" /><br><br>
    <textarea id="body_box" rows="4" cols="50" placeholder="Your Message"></textarea><br><br>
    <button class="btn btn-lg btn-default" id="send_btn"> Send</button>

    </center>

    {% endif %}

</div>



<br><br><br>
{% endblock %}