{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
.jumbotron {
    background: url('https://i.imgur.com/aOVk2gu.jpg');
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 160px;
    margin-top:-20px;
    text-shadow: black 0.1em 0.1em 0.1em;

}

</style>

<div class="jumbotron text-center"></div>

<div class="container">


  <h1><b><u>Contact Us</u></b></h1><br>


    <div class="container">

      <ul>
        <li>Eric Haberli - Co-President </li>
        <li>Jeffrey Chan - Co-President </li>
        <li>Richard Zhang - Secretary/Treasurer </li>
        <br>
        <li>For general inquiry, contact us at binghamtontabletennis@gmail.com</li>
      </ul>
    </div>


</div>

<br><br><br>
{% endblock %}