{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}

{% block content %}
<style>

{% if photo %}
.jumbotron {
    background: url({{ photo.URL }});
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-20px;
    text-shadow: black 0.1em 0.1em 0.1em;
}
{% endif %}

</style>

<div class="jumbotron text-center"></div>

<div class="container">


  <h1><b><u>Contact Us</u></b></h1><br>


    <div class="container">

        {% for member in eboard %}
          <h3>{{ member.Name }} - {{ member.get_Position_display }} </h3>
        {% endfor %}

        <br><br>

    </div>


    {% if organization.Email %}
    <div class="container">
      <hr>
      <br><br>
      <h2>For general inquiry, contact us at <a href=mailto:{{ organization.Email }}>{{ organization.Email }}</a>.</h2>
      <br>
    </div>
    {% endif %}

    {% if GOOGLE_RECAPTCHA_SITE_KEY %}

    <div class="container">
      <h2>You can also send us a message using the form below.</h2><br><br>
      <center>
      <h3 id="message" style="color:red;"></h3>

      <form action="" onsubmit="return false" id="email_form">
        <input type="text" size="50" id="sender_box" name="sender" placeholder="Your Name (or Your Email if you want a reply)" /><br><br>
        <input type="text" size="50" id="subject_box" name="subject" placeholder="Subject" /><br><br>
        <textarea type="text" id="body_box" rows="4" cols="50" name="body" placeholder="Your Message"></textarea><br><br>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" id="recaptcha" data-callback="recaptchaCallback" data-sitekey={{ GOOGLE_RECAPTCHA_SITE_KEY }}></div><br>
        <button type="submit" id="send_btn" class="btn btn-lg btn-default">Send</button>
      </form>
      </center>
    </div>

    {% endif %}

</div>



<br><br><br>
{% endblock %}