{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>

{% if photo %}
.jumbotron {
    background: url({{ photo.URL }});
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-20px;
    text-shadow: black 0.1em 0.1em 0.1em;
}
{% endif %}

</style>

{% if error == True %}
<div class="alert alert-warning">
  <strong>Player not found!</strong>
</div>
<br>
{% endif %}
<div class="jumbotron text-center">

    <h1 style=color:{{ headerTextColor }}>{{ organization.Name }}</h1>
</div>



<div class="container">
  <div class="col-sm-4 nopadding"></div>
  <div class="container">

{% if updateCount > 0 %}
    <h1><b>News/Updates</b></h1>

    {% for update in updates %}
      <h3><b><u>{{ update.Date }}</u></b> - {{ update.Message }}</h3>
    {% endfor %}

<hr>
{% endif %}

  </div>
</div>

{% for content in frontPageContent %}
<div class="container">
  <div class="col-sm-4 nopadding"></div>
  <div class="container">
    <h1><b>{{ content.Title }}</b></h1>
    <h3>{{ content.Description }}</h3>
  </div>
</div>
{% endfor %}

<br>
<br>
{% endblock %}
