{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
 
{% if error == True %}
<div class="alert alert-warning">
  <strong>Player not found!</strong>
</div>
<br>
{% endif %}
<div class="jumbotron text-center">
  <div class="container-fluid">

    <h1>Binghamton University Table Tennis Club</h1>
  </div>
</div>

<div class="container">
  <div class="col-sm-4 nopadding"></div>
  <div class="container">
    <h1><b>Welcome!</b></h1>
    <h3>The Table Tennis Club is designed to provide 
        students with the opportunity to compete against 
        other players as well as the opportunity to 
        enhance their table tennis skills. Due to it's 
        nature of activity and played inside and requires 
        moderately little equipment, it's an ideal 
        recreational activity for everyone. Although the 
        club will be primarily recreational, players with 
        competitive intent are welcome to join as well.
    </h3>
  </div>
</div>
<div class="container">
  <div class="col-sm-4 nopadding"></div>
  <div class="container">
    <h1><b>New Rating System</b></h1>
    <h3>We now have a competitive rating system based
        on the USATT rating system for those that want
        to compare themselves to their fellow members.
        In each of the weekly practices, members 
        will be able to play a ranked match to earn points.
        
      
    </h3>
  </div>
</div>
<div class="container">
  <div class="col-sm-4 nopadding"></div>
  <div class="container">
    <h1><b>Competitions</b></h1>
    <h3>Yes! We will attend table tennis competitions! Each semester, we hope to send some club members to 
        attend a tournament at RIT. We also plan to host a campus-wide tournament each semester. There will be more details as the events get organized.
    </h3>
  </div>
</div>

<br><br><br>
{% endblock %}
