{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style type="text/css">

  table, th, td {
    text-align: center;
  }
  tr:hover { 
    background: #D3D3D3; 
    
  }
</style>

<div class="text-center">
  <h1>FALL 2016 LADDER</h1>
  <p>The ladder system updates every day at midnight.</p>
</div>
<br>
<div class="container">
  <table class="tr:hover" id="rankTable" style="width:100%">
    
    <tr class="text-center">
      <th>Rank</th>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Rating</th>
    </tr>
    {% for player in playersRanked %}
        <tr class="text-center">
          <th>{{ forloop.counter }}</th>
          <th><a href="/stats/{{player.First_Name}} {{player.Last_Name}}">{{ player.First_Name }} {{ player.Last_Name }}</a></th>
          <th> {{player.Matches_Won }} </th>
          <th> {{player.Matches_Lost }}  </th>
          <th>{{ player.Rating }}</th>
        </tr>
    {% endfor %}
    
    {% for player in playersUnranked %}
        <tr class="text-center">
          <th>-</th>
          <th><a href="/stats/{{player.First_Name}} {{player.Last_Name}}">{{ player.First_Name }} {{ player.Last_Name }}</a></th>
          <th> {{player.Matches_Won }} </th>
          <th> {{player.Matches_Lost }}  </th>
          <th>Not ranked</th>
        </tr>
    {% endfor %}
    
  </table>

<br><br>
  
</div>
{% endblock %}