{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="text-center">
  <h1>LADDER</h1>
  <p>The ladder system updates every day at midnight. It will also reset every semester. Good luck.</p>
</div>
<div class="container">
  <table class="table-hover" id="rankTable" style="width:100%">
    
    <tr class>
      <th>Rank</th>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Rating</th>
    </tr>
    {% for player in players %}
    <tr>
      <th>{{ forloop.counter }}</th>
      <th><a href="/stats/{{player.First_Name}} {{player.Last_Name}}">{{ player.First_Name }} {{ player.Last_Name }}</a></th>
      <th> {{player.Matches_Won }} </th>
      <th> {{player.Matches_Lost }}  </th>
      <th>{{ player.Rating }}</th>
    </tr>
    {% endfor %}
    
  </table>


  <hr>
  
</div>
{% endblock %}