{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!---TODO:FIND A WAY TO CENTER THE TABLE OF RANKINGS --->
<style type="text/css">
.center {
    margin-left:auto; 
    margin-right:auto;
}

table{
  margin: 0;
}

</style>

<div class="text-center">
  <h1>FALL 2016 LADDER</h1>
  <p>The ladder system updates every day at midnight.</p>
</div>
<br>
<div class="container">
  <table class="table-hover center" id="rankTable" style="width:100%">
    
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Rating</th>
    </tr>
    {% for player in players %}
    <tr>
      <th>{{ forloop.counter }}</th>
      <th><a href="/stats/{{player.First_Name}} {{player.Last_Name}}">{{ player.First_Name }} {{ player.Last_Name }}</a></th>
      <th> {{player.Matches_Won }} </th>
      <th> {{player.Matches_Lost }}  </th>
      <th>{{ player.Rating }}</th>
    </tr>
    {% endfor %}
    
  </table>


  <hr>
  
</div>
{% endblock %}