{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
.jumbotron {
    background: url('https://i.imgur.com/8wF1rsn.jpg');
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 160px;
    margin-top:-20px;
    text-shadow: black 0.1em 0.1em 0.1em;

}

</style>

<div class="jumbotron text-center"></div>


  <div class="container">


<h2>Page View Report</h2>


<ul>

{% for visit in visits %}
    <li>Front Page Visits: {{ visit.Count }}</li>
{% endfor %}

</ul>
<br><br>

</div>

{% endblock %}