{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
.jumbotron {
    background: url('https://i.imgur.com/cJGzRON.jpg');
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 160px;
    margin-top:-20px;
    text-shadow: black 0.1em 0.1em 0.1em;

}

</style>

<div class="jumbotron text-center"></div>


  <div class="container">


<h1><b><u>Log</u></b></h1><br>


<ul>

{% for visit in visits %}
<h3>Front Page Visits: {{ visit.Count }}</h3>
{% endfor %}
<h3>Total Club Members: {{ numPlayers }}</h3>
<h3>Total Practices: {{ numPractices }}</h3>
</ul>
<br><br>

</div>

{% endblock %}