{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h1><b><u>Photos</u></b></h1>
</div>

{% for link in links %}
  <div class="container">
  <h2>{{ link.Title }}</h2><br>
    <center>
      <iframe src=https://docs.google.com/presentation/d/{{ link.SlidesID }}/embed?start=true&loop=true&delayms=3000 frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </center>
  </div>
  <br><br>
{% endfor %}

{% endblock %}