{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h1><b><u>Photos</u></b></h1>

      <h2>Fall 2016 RIT Tournament</h2>
  <br>

</div>
<div class="container">
  <div class="row">
    <img src="https://i.imgur.com/6u7J3BE.jpg" class="img-responsive"></img><br>
    <img src="https://i.imgur.com/Nw11hG6.jpg" class="img-responsive"></img><br>
    <img src="https://i.imgur.com/7zepW8s.jpg" class="img-responsive"></img><br>
    <img src="https://i.imgur.com/kLfFCBZ.jpg" class="img-responsive"></img><br>
    <img src="https://i.imgur.com/0YfxTB2.jpg" class="img-responsive"></img><br>
    <img src="https://i.imgur.com/s63IoaT.jpg" class="img-responsive"></img><br>
    <img src="https://i.imgur.com/JzR0vHz.jpg" class="img-responsive"></img><br>
    <img src="https://i.imgur.com/jd3dCQS.jpg" class="img-responsive"></img><br>
    <img src="https://i.imgur.com/5mN6q0R.jpg" class="img-responsive"></img><br>
    <img src="https://i.imgur.com/e75jIhK.jpg" class="img-responsive"></img><br>
  </div>
</div>
<br><br>
{% endblock %}