{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
  .nametag {
    font-size: 40px;
  }
  .info-bubble {
    background-color: #DEF;
    font-family: "Comic Sans MS";
    font-size: 20px;
  }
  
  .middleTile {
    background-color: #46E851;
    font-family: "Comic Sans MS";
    font-size: 20px;
  }
  .wrapper{
    margin-top: 50px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    max-width: 1140px;
  }
  
  th {
    background-color: #CFCFCF;
  }
  
  .winRow td {
    background-color: #00AA00;
  }
  
  .loseRow td {
    background-color: #FF7777;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .centerTable { margin: 0px auto; }
  
</style>
<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-3">
        <div class="well info-bubble">
          <p class="text-center">Class Standing</p>
          <p class="text-center">{{ standing }}</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="well info-bubble">
          <p class="text-center nametag">{{ player.First_Name.strip }} {{player.Last_Name.strip }}</p>
        </div>
      </div>
          <div class="col-xs-3">
        <div class="well info-bubble">
          <p class="text-center">Medal</p>
          <p class="text-center">{{ medal }}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
     <div class="col-xs-1"></div>
      <div class="col-xs-2">
        <div class="well middleTile">
          <p class="text-center">Win Rate</p>
          <p class="text-center">{{ player.Win_Rate }}%</p>
        </div>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
        <div class="well middleTile">
          <p class="text-center">Matches Played</p>
          <p class="text-center">{{ player.Matches_Played }}</p>
        </div>
      </div>
      <div class="col-xs-2"></div>
          <div class="col-xs-2">
        <div class="well middleTile">
          <p class="text-center">Rating</p>
          <p class="text-center">{{ player.Rating }}</p>
        </div>
      </div>
    </div>
    <br><br>
    
    <div class="row">
      <h2 class="text-center">Match History</h2>
      <table style="width:100%">
        <tr class="text-center">
          <th>Date</th>
          <th>Opponent</th>
          <th>Score</th>
          <th>Gain / Loss</th>
        </tr>
        
    
    {% for match in matches %}

          {% if match.Winner_First_Name.strip == player.First_Name.strip and match.Winner_Last_Name.strip == player.Last_Name.strip %}
            <tr class="winRow">
              <td>{{ match.Day }}</td>
              <td>{{ match.Loser_First_Name.strip}} {{ match.Loser_Last_Name.strip }}</td>
              <td>{{ match.Winner_Score}}-{{ match.Loser_Score }}</td>
              <td>+{{ match.Points }}</td>
            </tr>
          {% else %}
            <tr class="loseRow">
              <td>{{ match.Day }}</td>
              <td>{{ match.Winner_First_Name.strip}} {{ match.Winner_Last_Name.strip }}</td>
              <td>{{ match.Loser_Score}}-{{ match.Winner_Score }}</td>
              <td>-{{ match.Points }}</td>
            </tr>
          {% endif %}
    {% endfor %}
        
        
      </table>
    </div>
  </div>
</div>

<br><br><br>

{% endblock %}