{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>

table, th, td {
  text-align: left
}

tr:hover {
  background: #D3D3D3;

}

{% if photo %}
.jumbotron {
    background: url({{ photo.URL }});
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 160px;
    margin-top:-20px;
    text-shadow: black 0.1em 0.1em 0.1em;
}
{% endif %}

</style>

<div class="jumbotron text-center"></div>


  <div class="container">



<h1><b><u>Summary</u></b></h1><br>
<center>

<table style="width:80%">

{% for visit in visits %}
  <tr><td><b>Total Front Page Visits</b></td><td>{{ visit.Count }}</td></tr>
{% endfor %}

  <tr><td><b>Total Club Members</b></td><td>{{ numPlayers }}</td></tr>
  <tr><td><b>Total Practices</b></td><td>{{ numPractices }}</td></tr>
  <tr><td><b>Average Members per Practice</b></td><td>{{ average }}</td></tr>
  <tr><td><b>Active Members in the Last 30 Days</b></td><td>{{ numPlayersActive }}</td></tr>
  <tr><td><b>Most Attendances</b></td><td>{{ topAttendance }}</td></tr>
  <tr><td><b>Highest Club Rating</b></td><td>{{ topRating }}</td></tr>
  <tr><td><b>Lowest Members During Practice</b></td><td>{{ leastMembersCount }} members on {{ leastMembersDate|date:"N d, Y" }}</td></tr>
  <tr><td><b>Most Members During Practice</b></td><td>{{ mostMembersCount }} members on {{ mostMembersDate|date:"N d, Y"  }}</td></tr>
  <tr><td><b>Mailing List Size</b></td><td>{{ mailingListSize }}</td></tr>

  <tr><td><b>Freshman Standing Count</b></td><td>{{ freshmen }}</td></tr>
  <tr><td><b>Sophomore Standing Count</b></td><td>{{ sophomores }}</td></tr>
  <tr><td><b>Junior Standing Count</b></td><td>{{ juniors }}</td></tr>
  <tr><td><b>Senior Standing Count</b></td><td>{{ seniors }}</td></tr>
  <tr><td><b>Grad Standing Count</b></td><td>{{ grads }}</td></tr>
  <tr><td><b>Unknown Standing Count</b></td><td>{{ unknowns }}</td></tr>


</table>


<br><br>
</center>
</div>

{% endblock %}